.App {
  display: flex;
}

.constant {
  position: absolute;
  width: 666px;
  height: 1024px;
  left: 0px;
  top: 0px;

  background: linear-gradient(
    0deg,
    rgba(21, 101, 216, 0.9),
    rgba(21, 101, 216, 0.9)
  );
  background-image: url("img.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.cards {
  width: 480px;
  padding-top: 130px;
  padding-left: 900px;
}
.join {
  justify-content: end;
}
.card2 {
  padding-top: 40px;
}
.card1 {
  padding-top: 40px;
}
.sideline {
  padding-top: 10px;
}
.intro {
  display: flex;
}
